[Desktop Entry]
Version=1.0
Type=Application
Name=30
Comment=
Exec=/usr/share/amos/styles/30.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
